.NBRetraitFlashPos {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  font-size: 9.9px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
