.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
}

.btn-commencer {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.illustration img {
  max-width: 400px;
}
.container {
  position: relative;
  text-align: center;
  padding: 58px;
  
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/premium-photo/mail-service-concept-with-computer-laptop-illustration_1162225-33996.jpg?size=626&ext=jpg&uid=R142855166&ga=GA1.2.907682730.1721986206&semt=ais_hybrid");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: 1;
}

.container img,
.container h1,
.container button {
  position: relative;
  z-index: 2;
}

.container h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 500;
}

.container {
  overflow: hidden;
}

h1 {
  animation: slideIn 1s forwards;
  opacity: 0;
}

.btn-commencer {
  animation: slideInButton 1s forwards;
  opacity: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
  background-color 0.3s ease,
  transform 0.3s ease;

}

.btn-commencer:hover {
  background-color: #e0b120;
  transform: scale(1.05);

}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInButton {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: avatarBounce 2s infinite;
}

@keyframes avatarBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
