.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9eff7;
  font-family: "Poppins", sans-serif;
}

.introduction {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.introduction:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

.introduction h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction h3::before {
  content: "👋";
  content: "📄";
  font-size: 2.5rem;
  margin-right: 10px;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
