img {
    width: 100%;
    height: auto; 
    max-width: 120%; 
    object-fit: cover; 
    display: block; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.content img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}