header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #1f1d1d;
    color: white;  
    z-index: 1000;
  
.logo {
    font-size: 24px;
}


.logo {  
    font-size: 24px;  
    margin: 0; 
    color: #ffffff; 
}  
          
.logo-image {  
    height: 50px;   
    width: auto;  
    margin-right: 10px;   
    vertical-align: middle;  
} 
  
nav a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    }
    .nav-links a.active {  
        font-weight: bold;  
      }
      
      .nav-links a {
        display: inline-block;
        color: #ffffff; 
        margin: 0 .55em;
        padding: 0 .85em;
        text-decoration: none;
        background-image: linear-gradient(to right, currentColor, currentColor);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition:  margin-top 5s;
        
      }
      
      .nav-links a:hover {
        color: rgb(255, 196, 1);
        background-size: 75% 1px;
        padding-bottom: 3px;
      }
      
  
    .contact-btn, .start-btn {
        background-color: #ffcc00;  
        border: none;  
        padding: 10px 20px;  
        border-radius: 5px;  
        cursor: pointer;  
        font-size: 1rem;
    }
  
    .search-bar {
      padding: 5px;
      border-radius: 5px;
      border: none;
    }
  }

  .search-container {  
        display: flex;  
        align-items: center; 
        padding: 10px;
        
      }  
      
      .search-input {  
        padding: 8px; 
        padding-right: 15px; 
        border: none;  
        border-radius: 25px; 
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      } 
      
      .search-input:focus{
          border: 1px solid #ffc403;
          background: #fff;
          outline: 0;    
      }
      
      .search-btn {  
        background-color: #ffc403;  
        border: none;  
        cursor: pointer;  
        padding: 8px;  
        border-radius: 25px; 
      } 
      .btn-container {
        padding: 10px;
      }
      
  