* {
  // font-family: Roboto, Helvetica, sans-serif;
  // font-family: "DM Sans", sans-serif;
  // font-optical-sizing: auto;
  // font-weight: weight;
  // font-style: normal;

  font-family: "Poppins", sans-serif;
  font-weight: weight;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial, sans-serif";
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.content img {
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  max-width: 120%;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition:
  transform 0.3s ease,
  box-shadow 0.3s ease;
}

.content img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.title {
  padding: 20px;
  text-align: center;
  background-color: #dcdde1;
  border-radius: 5px;
}

.avatar {
  width: 100%;
  height: auto;
  max-width: 120%;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition:
  transform 0.3s ease,
  box-shadow 0.3s ease;
}

.button-dowload {
  background-color: #4caf50;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin-left: 250px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.download-pdf {
  text-decoration: none;
}

.note {  
  background-color: #fff3cd;  
  border: 1px solid #ffeeba;  
  border-radius: 5px;  
  padding: 15px;  
  margin-bottom: 20px;  
}  
.note h2 {  
  margin: 0 0 10px;  
}  
.note p {  
  margin: 0;  
}  
.second-title {    
  margin-top: 25px;  
  border-bottom: 1px solid #000;  
  padding-bottom: 5px;  
} 

