.content {
    margin-left: 270px; /* Pour compenser la largeur de la sidebar */
    margin-right: 200px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-family: 'Arial, sans-serif';
    max-width: calc(100% - 400px); /* Largeur maximale du contenu */
    overflow: hidden; /* Empêcher le débordement si nécessaire */
    text-align: center;
}


.content img {
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* L'image prendra toute la largeur de son conteneur */
    height: 100px;
    max-width: 500px; /* Limite la taille maximum */
    display: block;
    margin: 20px auto; /* Centre les images avec des marges */
    border-radius: 15px; /* Arrondir les coins */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce */
}

.content img:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Accentue l'ombre au survol */
}
